<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title></title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <style>
    p.receiver {
      font-size: 40px;
      color: rgb(20, 155, 20);
      display: inline-block;
      margin-left: 20px;
      font-weight: bold;
    }

    div.head {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    p.rec {
      font-weight: bold;
      color: rgb(20, 155, 20);
      margin-top: 10px;
    }

    p.sender {
      font-weight: bold;
      color: blue;
      margin-top: 10px;
    }

    p.mess {
      font-weight: bold;
    }

    div.round {
      border: 2px solid blue;
      border-radius: 4px;
      padding: 20px;
      margin: 20px;
    }

    div.rec {
      border: 2px solid rgb(20, 155, 20);
      border-radius: 4px;
      padding: 20px;
      margin: 20px;
    }

    div.sender {
      border: 2px solid blue;
      border-radius: 4px;
      padding: 20px;
      margin: 20px;
    }
  </style>


  <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>

  <script src="/socket.io/socket.io.js"></script>

</head>

<body onload="changeColor()">
  <div class="head">
    <img src="data:image/<%=imagecontact.contentType%>;base64, 
        <%=imagecontact.data.toString('base64') %>" width="150" height="150">
    <p id='rec' class='receiver'><%= contact %></p>
  </div>
  <div class="card card-body">
    <div class="chatbox ">
      <div class="chatlogs ">
        <div class="chat list-group " id="messages">
          <!--loop to print the messages found-->
          <% message.forEach(message => { %>
          <div class="round">
            <%if (message.sender == name){ %>
            <img src="data:image/<%=imagename.contentType%>;base64, 
              <%=imagename.data.toString('base64') %>" width="70" height="70">
            <%}%>
            <%if(message.sender == contact){ %>
            <img src="data:image/<%=imagecontact.contentType%>;base64, 
              <%=imagecontact.data.toString('base64') %>" width="70" height="70">
            <%}%>
            <div>
              <p class='mess'><%= message.sender %></p>
          </div>
          <div>
            <p><%= message.message %></p>
          </div>
          <!--handle for videos and image display-->
          <div>
            <% if (message.img.data != null && (message.img.contentType ==='image/jpeg' ||message.img.contentType === 'image/png' )) { %>
            <img src="data:image/<%=message.img.contentType%>;base64, 
                     <%=message.img.data.toString('base64') %>" width="720" height="480">
            <% } %>
          </div>
          <div>
            <%  if (message.img.data != null && message.img.contentType == 'video/mp4') { %>
            <video controls>
              <source type="video/mp4" src="data:video/<%=message.img.contentType%>;base64, 
                     <%=message.img.data.toString('base64') %>">
            </video>

            <% } %>
          </div>
          <div>
            <p><%= message.date %></p>
          </div>
        </div>
        <% }); %>
      </div>
      <div class="chat-form">

        <textarea id="message" class="form-control" placeholder="message"></textarea>
        <br />
        <button id="send" class="btn btn-primary">Send Message</button>

        <div>
          <br>
          <form action="/images/<%= contact %>" method="POST" enctype="multipart/form-data">

            <div>
              <label for="image">Upload Image or Video</label>
              <input type="file" id="image" name="image" value="" required>
            </div>
            <br>
            <div>
              <button type="submit" class="btn btn-primary">Send content</button>
            </div>
          </form>
          <br>
          <form action="/contacts" method="GET">
            <button type="submit " id="updateDescriptionButt" class="btn btn-primary mb-2">
              Back
            </button>
          </form>
        </div>

        <script>

          var sender = "<%= name%>";
          var receiver = "<%= contact%>";
          var date = "<%=message.date%>";
          var imgnamect = "<%=imagename.contentType%>";
          var imgnamed = "<%=imagename.data.toString('base64') %>";
          var imgcontactct = "<%=imagecontact.contentType%>";
          var imgcontactd = "<%=imagecontact.data.toString('base64') %>";
          const socket = io();

          $(() => {
            //on click send button creates a new message and post it in the database
            $("#send").click(() => {
              var message = {
                sender: sender,
                receiver: receiver,
                message: $("#message").val()

              };
              postMessage(message);
              //to empty the message textbox after its sent
              $("#message").val('');

            });

          });
          
          //every 3 seconds it checks for new messages
          setInterval(getMessage, 3000);


          function getMessage() {
            $.get("http://localhost:3000/messages/get/" + receiver + "/" + sender, data => {
              data.forEach(addMessage);
            });
          }

          function postMessage(message) {
            $.post("http://localhost:3000/messages", message);
            
          }


          //array to save ids of messages
          var ids = [];


          socket.on("message", addMessage);
          function addMessage(message) {
            //check if there's something inside sessionStorage. If there is, it takes it and store it in ids.
            //this was made to prevent ids[] from emptying after every page refresh.
            if (sessionStorage.getItem('test')) {
              ids = JSON.parse(sessionStorage.getItem('test'));
            } else {
              ids = [];
            }
            //check if ids[] already contains the message found. If not, it's displayed.
            if (ids.includes(message._id)) {
            }
            else {
              ids.push(message._id);
              sessionStorage.setItem('test', JSON.stringify(ids));
              //used this to display a different date format than the native of MongoDB
              var formattedDate = new Date(message.date);
              //check if content is an image, video or text message and then display the data.
              if (message.img != null && (message.img.contentType === 'image/jpeg' || message.img.contentType === 'image/png')) {
                $("#messages").append(
                  `<img src="data:image/${message.img.contentType};base64, 
                  ${message.img.data.toString('base64')}width="720" height="480"> `
                );
                window.location.reload();
              }
              else if (message.img != null && message.img.contentType == 'video/mp4') {
                $("#messages").append(
                  `<video controls>
                    <source type="video/mp4" src="data:video/${message.img.contentType};base64, 
                     ${message.img.data.toString('base64')}">
                 </video>`
                );
                window.location.reload();
              }
              else {
                //check who's the sender and put the right style on the message and the right profile pic
                if (message.sender == sender) {
                  $("#messages").append(
                    `<div class = "sender">
                    <img src="data:image/` + imgnamect + `;base64, `
                    + imgnamed + `" width="70" height="70">
                    <p class="sender"> ${message.sender} </p>
                 <p class="chat-message"> ${message.message} </p>
                <div><p> </p>` + formattedDate + `</div></div>`

                  );
                } else {

                  $("#messages").append(
                    `<div class = "rec">
                    <img src="data:image/` + imgcontactct + `;base64, `
                    + imgcontactd + `" width="70" height="70">
                    <p class="rec"> ${message.sender} </p>
                 <p class="chat-message"> ${message.message} </p>
                <div><p> </p>` + formattedDate + `</div></div>`

                  );

                }

              }

            }
          }
          //used only when body's ready. Put the right color of the messages'frame based on the receiver's name.
          function changeColor() {
            //find all paragraphs that have 'mess' class. They contain all the sender's messages.
            const p = document.getElementsByClassName('mess');
            //find all div that contain messages
            const div = document.getElementsByClassName('round');
            while(p.length !=0){
              if (p[0].textContent == receiver) {
                p[0].className = "rec";
                div[0].className = "rec";
              }
              else {
                p[0].className = "sender"
                div[0].className = "sender";
              }
            }
          }
        </script>
</body>

</html>