<!DOCTYPE html>
<html>

<head>
    <style>
        p.head {
            font-size: 50px;
            display: inline-block;
            margin-left: 10px;
        }

        div.title {
            margin-top: 20px;
        }

        h3.subtitle {
            color: rgb(14, 83, 104);
            margin-top: 30px;
        }

        h3.cont {
            margin-top: 30px;
        }

        p.info {
            margin-top: 20px;
            font-weight: bold;
        }

        div.ref {
            word-spacing: 10px;
        }

        a+a {
            margin-left: 100px;
        }
    </style>
    <script defer src="http://localhost:3000/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="title">
        <img src="data:image/<%=result.contentType%>;base64, 
        <%=result.data.toString('base64') %>" width="200" height="200">
        <p class="head">Welcome <%= name %></p>
    </div>
    <em>
        <h3 class="subtitle">"<%= description%>"</h3>
    </em>
    <h3 class="cont">Contacts</h3>
    <div class="row ">
        <div class="col-4">
            <div class="chat" id="contacts">
                <% if (contact.length != 0) { %>
                <ul class="list-group">
                    <% contact.forEach(contact => { %>

                    <li class="list-group-item">
                        <a href="/chat/<%= contact %>/<%= name %>"><%= contact %></a>
                        <a href="/chat/delete/<%= contact %>/<%= name %>">delete chat</a>
                    </li>
                </ul>
                <% }) %>
                <% } %>
                <% if(contact.length == 0) { %>
                <p class="info">No contacts yet. Search for a friend</p>
                <% } %>

            </div>
        </div>
    </div>
    <!--errors handle-->
    <br>
    <% if(typeof errors != 'undefined') { %>
    <% errors.forEach(function (error){ %>
    <div class="alert alert-danger" role="alert"> <%= error.msg %></div>
    <% }); %>
    <% } %>
    <% if(success_msg != ''){ %>
    <div class="alert alert-success" role="alert"><%= success_msg %></div>
    <% } %>
    <% if(error_msg != ''){ %>
    <div class="alert alert-warning" role="alert"><%= error_msg %></div>
    <% } %>
    <% if(error != ''){ %>
    <div class="alert alert-danger" role="alert"> <%= error %></div>
    <% } %>
    <form action="/contacts/find" method="POST" class="form-inline">
        <div class="form-group mb-2">
            <label class="sr-only">Find New Contact</label>
            <input type="text" readonly class="form-control-plaintext" id="newCont" value="Find New Contact">
        </div>
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputSearch" class="sr-only">Search</label>
            <input type="text" class="form-control" id="findname" name="findname" placeholder="Insert contact name">

        </div>
        <button type="submit " id="findnamebutton" class="btn btn-primary mb-2">
            Find Contact
        </button>
    </form>
    <br>
    <form action="/profile/description" method="POST" class="form-inline">
        <div class="form-group mb-2">
            <label class="sr-only">Update description</label>
            <input type="text" readonly class="form-control-plaintext" id="newDescription" value="Update Description">
        </div>
        <div class="form-group mb-2">
            <label for="textArea"></label>
            <textarea class="form-control" id="updateDescription" name="updateDescription"
                placeholder="Tell us something new" rows="3"></textarea>
        </div>

        <button type="submit " id="updateDescriptionButton" class="btn btn-primary mb-2">
            Update
        </button>
    </form>
    <div>
        <br>
        <form action="/profile" method="POST" enctype="multipart/form-data">

            <div>
                <label for="image">Upload a new profile picture</label>
                <input type="file" id="image" name="image" value="" required>
            </div>
            <br>
            <div>
                <button type="submit" class="btn btn-primary">Upload Image</button>
            </div>
        </form>
    </div>
    <footer class="blockquote-footer">
        <br>
        <form action="users/logout" method="GET">
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    Logout
                </button>
            </div>
        </form>
    </footer>
</body>
</html>