<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i> Login</h1>
      <!--errors handle-->
      <% if(typeof errors != 'undefined') { %>
      <% errors.forEach(function (error){ %>
      <div class="alert alert-danger" role="alert"> <%= error.msg %></div>
      <% }); %>
      <% } %>
      <% if(success_msg != ''){ %>
      <div class="alert alert-success" role="alert"><%= success_msg %></div>
      <% } %>
      <% if(error_msg != ''){ %>
      <div class="alert alert-danger" role="alert"><%= error_msg %></div>
      <% } %>
      <% if(error != ''){ %>
      <div class="alert alert-danger" role="alert"> <%= error %></div>
      <% } %>
      <form action="/users/login" method="POST">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Login</button>
      </form>
      <p class="lead mt-4">
        No Account? <a href="/users/register">Register</a>
      </p>
    </div>
  </div>
</div>