<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body">
      <h1 class="text-center mb-3">
        <i class="fas fa-user-plus"></i> Register
      </h1>
      <!--errors handle-->
      <% if(typeof errors != 'undefined') { %>
      <% errors.forEach(function (error){ %>
      <div class="alert alert-danger" role="alert"> <%= error.msg %></div>
      <% }); %>
      <% } %>
      <% if(success_msg != ''){ %>
      <div class="alert alert-success" role="alert"><%= success_msg %></div>
      <% } %>
      <% if(error_msg != ''){ %>
      <div class="alert alert-danger" role="alert"><%= error_msg %></div>
      <% } %>
      <% if(error != ''){ %>
      <div class="alert alert-danger" role="alert"> <%= error %></div>
      <% } %>

      <form action="/users/register" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Username</label>
          <input type="name" id="name" name="name" class="form-control" placeholder="Enter Username"
            value="<%= typeof name != 'undefined' ? name : '' %>" />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
            value="<%= typeof email != 'undefined' ? email : '' %>" />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Create Password"
            value="<%= typeof password != 'undefined' ? password : '' %>" />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="description" id="description" name="description" class="form-control"
            placeholder="Say something about you!"
            value="<%= typeof description != 'undefined' ? description : '' %>" />
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="phoneNumber" id="phoneNumber" name="phoneNumber" class="form-control"
            placeholder="Insert your phone number"
            value="<%= typeof phoneNumber != 'undefined' ? phoneNumber : '' %>" />
        </div>
        <br>
        <div>
          <label for="profilePic">Upload a profile picture</label>
          <input type="file" id="profilePic" name="profilePic" value="" required>
        </div>
        <br>

        <button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
    </div>

    <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
  </div>
</div>
</div>